<div ng-include="'views/partials/section-back-strip/section-back-strip.html'"></div>
<div ng-include="'views/partials/subpage-headline/subpage-headline.html'"></div>
<div ng-include="'views/partials/single-item-module/single-item-grey.html'"></div>
<div ng-include="'views/partials/three-col-image-gallery/three-col-image-gallery.html'"></div>
<div ng-include="'views/partials/four-col-grey/four-col-grey.html'"></div>
<div ng-include="'views/partials/download-footer-grey/download-footer-grey.html'"></div>
<div ng-include="'views/partials/call-to-action/call-to-action.html'"></div>

