<div ng-include="'views/partials/hero-feature/hero-feature.html'"></div>

<div ng-include="'views/partials/divider/divider.html'"></div>

<div ng-include="'views/partials/single-item-module/single-item.html'"></div>

<div ng-include="'views/partials/single-item-spotlight-grey/single-item-spotlight-grey.html'"></div>

<div ng-include="'views/partials/three-col-blue/three-col-blue.html'"></div>

<div ng-include="'views/partials/single-item-module/single-item.html'"></div>

<div ng-include="'views/partials/divider-narrow/divider-narrow.html'"></div>

<div ng-include="'views/partials/single-item-module/single-item.html'"></div>

<div ng-include="'views/partials/divider-narrow/divider-narrow.html'"></div>

<div ng-include="'views/partials/single-item-module/single-item.html'"></div>

<div ng-include="'views/partials/three-col-feature/three-col-feature.html'"></div>

<div ng-include="'views/partials/single-item-module/single-item.html'"></div>

<div ng-include="'views/partials/back-to-top/back-to-top.html'"></div>
