<div ng-include="'views/partials/section-back-strip/section-back-strip.html'"></div>
<div ng-include="'views/partials/athlete-header/athlete-header.html'"></div>
<div ng-include="'views/partials/quote-grey/quote-grey.html'"></div>
<div ng-include="'views/partials/news-static-module/news-static-module.html'"></div>
<div ng-include="'views/partials/single-item-module/single-item-blue-keypoints.html'"></div>
<div ng-include="'views/partials/calendar-vertical/calendar-vertical.html'"></div>
<div ng-include="'views/partials/carousels/carousel-with-caption.html'"></div>
<div ng-include="'views/partials/single-item-module/single-item-athletes.html'"></div>
<div ng-include="'views/partials/partner-more-info/partner-more-info.html'"></div>
<div ng-include="'views/partials/share-this-page/share-this-page.html'"></div>
<div ng-include="'views/partials/call-to-action/call-to-action.html'"></div>
<div ng-include="'views/partials/back-to-top/back-to-top.html'"></div>