<section class="module--competition-detail">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<h2>Sainsbury's Indoor Grand Prix</h2>
				<figure><img src="assets/images/competition-detail/competition-detail.jpg" alt="">
				</figure>
			</div>
		</div>
		<div class="competition-detail-wrap">
			<div class="row competition-detail-container">
				<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 sports">
				<div class="row">
					<div class="col-sm-4 col-md-4 col-lg-4">
						<div class="image-container">
							<img src="assets/images/sports/OLYMPIC__0035_SWIMMING.jpg" title="Swimming" />
						</div>
							<h4>Swimming</h4>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="image-container">
								<img src="assets/images/sports/OLYMPIC__0034_WATER_POLO.jpg" title="Water polo" />
							</div>
						<h4>water polo</h4>
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="image-container">
								<img src="assets/images/sports/OLYMPIC__0033_DIVING.jpg" title="Diving" />
						</div>
						<h4>Diving</h4>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="competition-detail-wrap">
			<div class="row competition-detail-container">
				<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 details">
					<div class="col-sm-4 col-md-4 col-lg-4 col-gap">
						<h4>Date</h4>
						<p>
							<span>17<small> Sep 2015</small></span>
						</p>
						<p>
							Thursday
						</p>
						<p>
							<span>20<small> Sep 2015</small></span>
						</p>
						<p>
							Sunday
						</p>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 col-gap">
						<h4>Time</h4>
						<p>
							<span class="start-time">11:00</span><span class="am-pm">AM</span><span class="separator"> - </span><span class="finish-time">6:00</span><span class="am-pm">PM</span>
						</p>
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 col-gap">
						<h4>Location</h4>
						<p>
							<span>Manchester</span>
						</p>
						<p>
							Barclaycard Arena
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="competition-detail-wrap">
			<div class="row competition-detail-container">
				<div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 infos">
					<div class="row">
						<div class="col-lg-12">
						<h2>Event info</h2>
						<p>
							The biggest British and global athletics superstars will descend on the West Midlands in an afternoon jam-packed full of world-class athletics. The biggest British and global athletics superstars will descend on the West Midlands in an afternoon jam-packed full of world-class athletics. The biggest British and global athletics superstars will descend on the West Midlands in an afternoon jam-packed full of world-class athletics.
						</p>
					</div>
					<div class="col-lg-12 gap">
						<p class="calendar">
							<a href="#">Add to calendar</a>
						</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
