<section class="module--carousel carousel-single-item" data-total-slides="6" data-carousel-single-item>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <h2>single item caroussel</h2>
        	<div class="carousel">

        		<div data-media-id="1">
                    <div class="sixteen-by-nine">
                        <img src="https://placeimg.com/780/440/animals?width=780&crop=0,0,780,440">
                    </div>
                    <p class="caption">Caption 1</p>
                </div>

        		<div class="iframe" data-media-id="2">
                    <div class="sixteen-by-nine">
                        <iframe src="//www.youtube.com/embed/rfh4Mhp-a6U" frameborder="0"></iframe>
                    </div>
                    <p class="caption">Caption 2</p>
                </div>

        		<div class="iframe" data-media-id="3">
                    <div class="sixteen-by-nine">
                        <iframe src="https://player.vimeo.com/video/46444981" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <p class="caption">Caption 3</p>
                </div>

        		<div data-media-id="4">
                    <div class="sixteen-by-nine">
                        <img src="https://placeimg.com/780/440/any?width=780&crop=0,0,780,440">
                    </div>
                    <p class="caption">Caption 4</p>
                </div>

        		<div data-media-id="5">
                    <div class="sixteen-by-nine">
                        <img src="https://placeimg.com/780/440/people?width=780&crop=0,0,780,440">
                    </div>
                    <p class="caption">Caption 5</p>
                </div>

        		<div data-media-id="6">
                    <div class="sixteen-by-nine">
                        <img src="https://placeimg.com/780/440/tech?width=780&crop=0,0,780,440">
                    </div>
                    <p class="caption">Caption 6</p>
                </div>

        	</div>
        </div>
    </div>
</section>
