<section class="module--athlete-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1>Rebekkah Menday</h1>
			</div>
			<ul class="socialLinks hidden-xs hidden-sm">
				<li>
					<span>Share</span>
				</li>
				<li>
					<a href="#"><img src="assets/images/share-icons/facebook.png"></a>
				</li>
				<li>
					<a href="#"><img src="assets/images/share-icons/twitter.png"></a>
				</li>
				<li>
					<a href="#"><img src="assets/images/share-icons/linkedin.png"></a>
				</li>
				<li>
					<a href="#"><img src="assets/images/share-icons/google.png"></a>
				</li>
				<li>
					<a href="#"><img src="assets/images/share-icons/email.png"></a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3">
				<figure class="athleteimg"><img src="assets/images/athlete-header/athlete-img.jpg" alt=""/>
				</figure>
			</div>
			<div class="col-sm-9 col-md-7 col-lg-6" >
				<ul class="key-info">
					<li>
						<div class="key-block">
							<div class="key-head">
								<strong>Sport:</strong>
							</div>
							<div class="key-content">
								<strong><a href="#">Skiing / Snowboarding</a></strong>
							</div>
						</div>
						<div class="key-block">
							<div class="key-head">
								<strong>Discipline: </strong>
							</div>
							<div class="key-content">
								<strong>Snowboarding</strong>
							</div>
						</div>
						<div class="key-block">
							<div class="key-head">
								<strong>Age:</strong>
							</div>
							<div class="key-content">
								<strong>16 Years</strong>
							</div>
						</div>
						<div class="key-block">
							<div class="key-head">
								<strong>Town:</strong>
							</div>
							<div class="key-content">
								<strong>Portsmouth</strong>
							</div>
						</div>
					</li>
					<li>
						<div class="key-block">
							<div class="key-head">
								<strong>Supporter:</strong>
							</div>
							<div class="key-content">
								<figure class="lottoImg">
									<a target="_blank" href="https://www.mylotto24.co.uk"><img src="assets/images/athlete-header/lottoImg.png" alt=""/></a>
								</figure>
							</div>
						</div>
					</li>
					<li>
						<div class="key-block">
							<div class="key-head">
								<strong>Follow:</strong>
							</div>
							<div class="key-content">
								<ul class="socialLinks-keys">
									<li>
										<a href="#"><img src="assets/images/share-icons/fb-icon.png"></a>
									</li>
									<li>
										<a href="#"><img src="assets/images/share-icons/tw-icon.png"></a>
									</li>
								</ul>
								<strong><a href="http://www.website.com/">www.website.com</a></strong>
								<p>
									SportsAid is not responsible for content on other websites.
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>