<div ng-include="'views/partials/hero-feature/hero-feature.html'"></div>

<div ng-include="'views/partials/search-simple/search-simple.html'"></div>

<div ng-include="'views/partials/three-col-feature-grey/three-col-feature-grey.html'"></div>

<div ng-include="'views/partials/four-col-sports/four-col-sports.html'"></div>

<div ng-include="'views/partials/four-col-grey/four-col-grey.html'"></div>

<div ng-include="'views/partials/calendar-vertical/calendar-vertical.html'"></div>

<div ng-include="'views/partials/two-col-single-item/two-col-single-item.html'"></div>

<div ng-include="'views/partials/back-to-top/back-to-top.html'"></div>