<section class="module--calendar-vertical">
	<div class="upcoming-calendar-info">
		<div class="container">
		   	<div class="row">
		    	<div class="col-lg-12">
			      	<h2>Upcoming Events</h2>
		    	</div>
		    </div>
	    </div>
	</div>
	<div class="gray-row">
		<div class="container">
			<div class="row">
	    		<div class="col-sm-4 col-md-4 col-lg-4">
		      		<div class="event-pic">
		      			<figure>
		      				<img src="assets/images/calendar-vertical/1.jpg" alt="">
		      			</figure>
		      		</div>
		      	</div>
		      	<div class="col-sm-8 col-md-8 col-lg-2">
		      		<div class="event-date">
		      			<h4>24</h4>
		      			<small>January <span>2015</span></small>
		      		</div>
		      	</div>
		      	<div class="col-sm-8 col-md-8 col-lg-6">
		      		<div class="event-description">
		      			<h5><a href="">British Snowboarding Championships</a>
						<span>The National Ice Centre, Nottingham, NG1 1LA</span></h5>
						<p>Fusce tortor nunc, posuere nec lectus nec, luctus dignissim tortor. Nulla facilisi. Vivamus ut est vitae nunc consequat convallis. Intege a nulla cursus, facilisis metus et, facilisis.</p>
		      		</div>
	    		</div>
	    	</div>
		</div>
	</div>
	<div class="gray-row white-row">
		<div class="container">
			<div class="row">
	    		<div class="col-sm-4 col-md-4 col-lg-4">
		      		<div class="event-pic">
		      			<figure>
		      				<img src="assets/images/calendar-vertical/2.jpg" alt="">
		      			</figure>
		      		</div>
		      	</div>
		      	<div class="col-sm-8 col-md-8 col-lg-2">
		      		<div class="event-date">
		      			<h4>24</h4>
		      			<small>January <span>2015</span></small>
		      		</div>
		      	</div>
		      	<div class="col-sm-8 col-md-8 col-lg-6">
		      		<div class="event-description">
		      			<h5><a href="">National Snowboarding Competition</a>
						<span>The National Ice Centre, Nottingham, NG1 1LA</span></h5>
						<p>Fusce tortor nunc, posuere nec lectus nec, luctus dignissim tortor. Nulla facilisi. Vivamus ut est vitae nunc consequat convallis.</p>
		      		</div>
	    		</div>
	    	</div>
		</div>
	</div>
	<div class="event-button">
		<div class="container">
		   	<div class="row">
			    <a href="#" class="primary-button">SEE ALL EVENTS FOR LLOYDS BANK</a>
		    </div>
	    </div>
	</div>
</section>
