.module--call-to-action {
	text-align:center;
	h2{
		font-weight: bold;
		color:$dark-gray;
		text-align: center;
		text-transform: none;
		font-size:25px;
		line-height: 33px;
		// Tablet
		@media screen and (min-width: $screen-sm){
			font-size:34px;
			line-height: 44px;
		}
	}
}
